#success-form {
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    background-color: lightgreen;
    text-align: left;
    margin: 3rem auto;
    border: 2rem #BBBBBB;
    width: fit-content;
    position: relative;
    height: fit-content;
}

#company-name {
    background-color: firebrick;
}
